
<!-- Footer -->
<!-- border grey -->
<footer class="position-relative page-footer font-small deep-orange darken-2 pt-md-5 pt-2" style="">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="container">


      <!-- Grid row -->
      <div class="row justify-content-md-around justify-content-center">
        <!-- Grid column  -->
        <div class="mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="font-weight-bold">联系客服</h5>
          <hr class="white mb-2 mt-0 d-inline-block mx-auto" style="width:60px;">
          <br>
          <span>罗老师</span>
          <p><i class="fas fa-phone mr-2"></i>156-7700-5545</p>
        </div>

      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 mt-2">© 2019 Copyright:
    <a class="" href="">前沿课堂</a>
    <a class="ml-3" href="http://www.beian.miit.gov.cn">桂ICP备14008316号</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
