
<nav class="navbar navbar-light grey lighten-3">
  <button class="collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-lg fa-bars"></span>
  </button>
  <span class=""><%= @conference && @conference.name %></span>
  <%= link_to "", admin.orders_path, class: "far fa-lg fa-user text-dark" %>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample10" style="">
    <ul class="navbar-nav">
      <% @conferences.each do |conf| %>
        <li class="nav-item">
          <% class_tags = ["nav-link"] %>
          <% class_tags << "active" if params["conference_id"] == conf.id.to_s %>
          <%= link_to conf.name, frontend.hotels_path(conference_id: conf.id), class: class_tags.join(" ") %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
