<h1>Dashboard Manager Hotel Image</h1>

<%= render 'form', hotel: @hotel, hotel_image: @hotel_image %>

<%# link_to 'Show', @manager_hotel_image %> |
<%= link_to '返回', request.referer || admin.admin_root_path %>
