<h1>Hotels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Hotel', new_hotel_path %>
