<%= form_with(model: customer_hotel, local: true) do |form| %>
  <% if customer_hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_hotel.errors.count, "error") %> prohibited this customer_hotel from being saved:</h2>

      <ul>
      <% customer_hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
