
<h1>Customer Hotels</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @customer_hotels.each do |customer_hotel| %>
      <tr>

      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%# link_to 'New Customer Hotel', new_customer_hotel_path %>
