<div class="form-group position-relative">
  <%= form.label t(".#{field.column_name}"), class: "h6" %>

  <%= form.text_field field.column_name, data: { type: 'datetime' }, class: "form-control" %>
</div>
